## Importing Libraries

In [30]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Importing Datasets

In [31]:
df_electricity = pd.read_csv('data/access to electricity/API_EG.ELC.ACCS.ZS_DS2_en_csv_v2_1058634.csv', skiprows=4)
df_electricity = df_electricity[['Country Code', '2022']]
df_electricity.dropna(inplace=True)
df_electricity.rename(columns={'2022': 'Access to Electricity (%)'}, inplace=True)
print(df_electricity.shape)
df_electricity.head()

(263, 2)

  Country Code  Access to Electricity (%)
0          ABW                  99.900000
1          AFE                  48.801258
2          AFG                  85.300000
3          AFW                  55.686683
4          AGO                  48.500000

In [32]:
df_production = pd.read_csv('data/chicken-meat-production/chicken-meat-production.csv')
df_production = df_production[df_production['Year'] == 2022]
df_production.drop(columns=['Year', 'Entity'], inplace=True)
df_production.rename(columns={'Meat, chicken | 00001058 || Production | 005510 || tonnes': 'Chicken Meat Production (tonnes)', 'Code': 'Country Code'}, inplace=True)
df_production['Chicken Meat Production (kg)'] = df_production['Chicken Meat Production (tonnes)'] * 1000
df_production.drop(columns=['Chicken Meat Production (tonnes)'], inplace=True)
df_production.dropna(inplace=True)
print(df_production.shape)  
df_production.head()

(197, 2)

    Country Code  Chicken Meat Production (kg)
61           AFG                    28503140.0
250          ALB                    16335570.0
313          DZA                   407744300.0
439          AGO                    57177380.0
502          ATG                       88310.0

In [33]:
df_gdp_per_capita = pd.read_csv('data/GDP per capita/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_904059.csv')
df_gdp_per_capita = df_gdp_per_capita[['Country Code', '2022']]
df_gdp_per_capita.dropna(inplace=True)
df_gdp_per_capita.rename(columns={'2022': 'GDP per Capita (current US$)'}, inplace=True)
print(df_gdp_per_capita.shape)
df_gdp_per_capita.head()

(257, 2)

  Country Code  GDP per Capita (current US$)
0          ABW                  30559.533535
1          AFE                   1628.318944
2          AFG                    357.261153
3          AFW                   1796.668633
4          AGO                   2929.694455

In [34]:
df_gdp_per_capita_growth = pd.read_csv('data/gdp per capita growth/API_NY.GDP.PCAP.KD.ZG_DS2_en_csv_v2_1057933.csv', skiprows=4)
df_gdp_per_capita_growth = df_gdp_per_capita_growth[['Country Code', '2022']]
df_gdp_per_capita_growth.dropna(inplace=True)
df_gdp_per_capita_growth.rename(columns={'2022': 'GDP per Capita Growth (%)'}, inplace=True)
print(df_gdp_per_capita_growth.shape)
df_gdp_per_capita_growth.head()

(256, 2)

  Country Code  GDP per Capita Growth (%)
0          ABW                   8.912308
1          AFE                   0.905330
2          AFG                  -7.576669
3          AFW                   1.578046
4          AGO                  -0.143628

In [35]:
df_m49 = pd.read_csv('data/2022-09-24__CSV_UNSD_M49.csv', sep=None, engine='python')
df_m49 = df_m49[['Country or Area', 'M49 Code', 'ISO-alpha3 Code']]
df_m49.head()

  Country or Area  M49 Code ISO-alpha3 Code
0         Algeria        12             DZA
1           Egypt       818             EGY
2           Libya       434             LBY
3         Morocco       504             MAR
4           Sudan       729             SDN

In [36]:
df_import_export = pd.read_csv('data/import export of dead and live chicken /FAOSTAT_data_en_10-3-2025.csv')
df_import_export.drop(columns=['Area', 'Year', 'Year Code', 'Item Code (CPC)', 'Element Code', 'Flag', 'Flag Description', 'Note', 'Domain Code', 'Domain', 'Item'], inplace=True)
df_import_export = df_import_export.merge(df_m49, left_on='Area Code (M49)', right_on='M49 Code', how='left')
df_import_export.drop(columns=['Area Code (M49)', 'Unit', 'Country or Area', 'M49 Code'], inplace=True)
df_import_export.rename(columns={'ISO-alpha3 Code': 'Country Code'}, inplace=True)
df_import = df_import_export[(df_import_export['Element']=='Import quantity')]
df_export = df_import_export[(df_import_export['Element']=='Export quantity')]

In [37]:
df_import.rename(columns={'Value': 'Import Quantity (t)'}, inplace=True)
df_import['Import Quantity (kg)'] = df_import['Import Quantity (t)'] * 1000
df_import.drop(columns=['Import Quantity (t)'], inplace=True)
df_import.drop(columns=['Element'], inplace=True)
df_import.dropna(inplace=True)
df_import.head()

   Country Code  Import Quantity (kg)
0           AFG             6902310.0
4           ALB            43124460.0
8           AGO           308122710.0
12          ATG             6406990.0
16          ARG            10218320.0

In [38]:
df_export.rename(columns={'Value': 'Export Quantity (t)'}, inplace=True)
df_export['Export Quantity (kg)'] = df_export['Export Quantity (t)'] * 1000
df_export.drop(columns=['Export Quantity (t)'], inplace=True)
df_export.drop(columns=['Element'], inplace=True)
df_export.dropna(inplace=True)
df_export.head()

   Country Code  Export Quantity (kg)
2           AFG               56040.0
6           DZA               29000.0
10          AGO               10870.0
14          ATG                5840.0
18          ARG           179621830.0

In [39]:
df_logistic_index = pd.read_csv('data/logistics index/API_LP.LPI.OVRL.XQ_DS2_en_csv_v2_948643.csv', skiprows=4)
df_logistic_index = df_logistic_index[['Country Code', '2022']]
df_logistic_index.rename(columns={'2022': 'Logistics Performance Index'}, inplace=True)
df_logistic_index.dropna(inplace=True)
df_logistic_index.head()

  Country Code  Logistics Performance Index
1          AFE                     2.618182
2          AFG                     1.900000
3          AFW                     2.473333
4          AGO                     2.100000
5          ALB                     2.500000

In [40]:
df_meat_consumption = pd.read_csv('data/per-capita-meat-consumption-by-type-kilograms-per-year/per-capita-meat-consumption-by-type-kilograms-per-year.csv')
df_meat_consumption = df_meat_consumption[df_meat_consumption['Year'] == 2022]
df_meat_consumption = df_meat_consumption[['Code', 'Meat, poultry | 00002734 || Food available for consumption | 0645pc || kilograms per year per capita']]
df_meat_consumption.rename(columns={
    'Code': 'Country Code',
    'Meat, poultry | 00002734 || Food available for consumption | 0645pc || kilograms per year per capita': 'Poultry Consumption (kg/capita)'
}, inplace=True)    
df_meat_consumption.dropna(inplace=True)
df_meat_consumption.head()

    Country Code  Poultry Consumption (kg/capita)
61           AFG                         0.881790
247          ALB                        22.677332
309          DZA                         6.052606
433          AGO                        10.506409
495          ATG                        68.999690

In [41]:
df_political_stability = pd.read_csv('data/political stability index/API_PV.EST_DS2_en_csv_v2_1023320.csv', skiprows=4)
df_political_stability = df_political_stability[['Country Code', '2022']]
df_political_stability.rename(columns={'2022': 'Political Stability Index'}, inplace=True)
df_political_stability.dropna(inplace=True)
df_political_stability.head()

  Country Code  Political Stability Index
0          ABW                   1.483080
2          AFG                  -2.544956
4          AGO                  -0.630109
5          ALB                   0.106261
6          AND                   1.585988

In [42]:
df_pop_growth = pd.read_csv('data/population growth/API_SP.POP.GROW_DS2_en_csv_v2_1058428.csv', skiprows=4)
df_pop_growth = df_pop_growth[['Country Code', '2022']]
df_pop_growth.rename(columns={'2022': 'Population Growth Rate'}, inplace=True)
df_pop_growth.dropna(inplace=True)

df_pop_growth.head()

  Country Code  Population Growth Rate
0          ABW               -0.362774
1          AFE                2.592754
2          AFG                1.435704
3          AFW                2.332270
4          AGO                3.143026

In [43]:
df_reg_quality = pd.read_csv('data/regulatory quality/API_RQ.EST_DS2_en_csv_v2_1059205.csv', skiprows=4)
df_reg_quality = df_reg_quality[['Country Code', '2022']]
df_reg_quality.rename(columns={'2022': 'Regulatory Quality Index'}, inplace=True)
df_reg_quality.dropna(inplace=True)
df_reg_quality.head()

  Country Code  Regulatory Quality Index
0          ABW                  0.967043
2          AFG                 -1.271806
4          AGO                 -0.606699
5          ALB                  0.159354
6          AND                  1.398334

In [44]:
df_urban_growth = pd.read_csv('data/ubranization growth/API_SP.URB.GROW_DS2_en_csv_v2_1044859.csv', skiprows=4)
df_urban_growth = df_urban_growth[['Country Code', '2022']]
df_urban_growth.rename(columns={'2022': 'Urban Population Growth Rate'}, inplace=True)
df_urban_growth.dropna(inplace=True)
df_urban_growth.head()

  Country Code  Urban Population Growth Rate
0          ABW                      0.059249
1          AFE                      3.961598
2          AFG                      2.576854
3          AFW                      3.556585
4          AGO                      4.059358

In [45]:
df_urban_pop = pd.read_csv('data/urban population/API_SP.URB.TOTL_DS2_en_csv_v2_1209517.csv', skiprows=4)
df_urban_pop = df_urban_pop[['Country Code', '2022']]
df_urban_pop.rename(columns={'2022': 'Urban Population'}, inplace=True)
df_urban_pop.dropna(inplace=True)
df_urban_pop.head()

  Country Code  Urban Population
0          ABW           47272.0
1          AFE       277426261.0
2          AFG        10800465.0
3          AFW       244365364.0
4          AGO        24260684.0

In [46]:
df_total_pop = pd.read_csv('data/world population/API_SP.POP.TOTL_DS2_en_csv_v2_943813.csv')
df_total_pop = df_total_pop[['Country Name', 'Country Code', '2022']]
df_total_pop.rename(columns={'2022': 'Total Population'}, inplace=True)
df_total_pop.dropna(inplace=True)
df_total_pop.head()

                  Country Name Country Code  Total Population
0                        Aruba          ABW          107310.0
1  Africa Eastern and Southern          AFE       731821393.0
2                  Afghanistan          AFG        40578842.0
3   Africa Western and Central          AFW       497387180.0
4                       Angola          AGO        35635029.0

## Fetching data from World Bank API

In [47]:
# import requests
# import pandas as pd
# # Define the URL for the API request
# url = "http://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?date=2022&format=json&per_page=1000"
# # Make the GET request to the World Bank API
# response = requests.get(url)
# # Convert the response to JSON
# json_data = response.json()
# # Convert the JSON data to a pandas DataFrame
# df = pd.json_normalize(json_data[1])
# df

# Combining all datasets into a single DataFrame

In [48]:
df_all = df_total_pop.merge(df_pop_growth, on='Country Code', how='left') \
    .merge(df_urban_growth, on='Country Code', how='left') \
    .merge(df_urban_pop, on='Country Code', how='left') \
    .merge(df_political_stability, on='Country Code', how='left') \
    .merge(df_reg_quality, on='Country Code', how='left') \
    .merge(df_logistic_index, on='Country Code', how='left') \
    .merge(df_gdp_per_capita, on='Country Code', how='left') \
    .merge(df_gdp_per_capita_growth, on='Country Code', how='left') \
    .merge(df_electricity, on='Country Code', how='left') \
    .merge(df_meat_consumption, on='Country Code', how='left') \
    .merge(df_production, on='Country Code', how='left') \
    .merge(df_import, on='Country Code', how='left') \
    .merge(df_export, on='Country Code', how='left')
df_all.head()

,Country Name,Country Code,Total Population,Population Growth Rate,Urban Population Growth Rate,Urban Population,Political Stability Index,Regulatory Quality Index,Logistics Performance Index,GDP per Capita (current US$),GDP per Capita Growth (%),Access to Electricity (%),Poultry Consumption (kg/capita),Chicken Meat Production (kg),Import Quantity (kg),Export Quantity (kg)
0,Aruba,ABW,107310.0,-0.362774,0.059249,47272.0,1.483080,0.967043,NaN,30559.533535,8.912308,99.900000,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,731821393.0,2.592754,3.961598,277426261.0,NaN,NaN,2.618182,1628.318944,0.905330,48.801258,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,40578842.0,1.435704,2.576854,10800465.0,-2.544956,-1.271806,1.900000,357.261153,-7.576669,85.300000,0.881790,28503140.0,6902310.0,56040.0
3,Africa Western and Central,AFW,497387180.0,2.332270,3.556585,244365364.0,NaN,NaN,2.473333,1796.668633,1.578046,55.686683,NaN,NaN,NaN,NaN
4,Angola,AGO,35635029.0,3.143026,4.059358,24260684.0,-0.630109,-0.606699,2.100000,2929.694455,-0.143628,48.500000,10.506409,57177380.0,308122710.0,10870.0

In [49]:
df_all.dropna(inplace=True)
df_all.reset_index(drop=True, inplace=True)
df_all

,Country Name,Country Code,Total Population,Population Growth Rate,Urban Population Growth Rate,Urban Population,Political Stability Index,Regulatory Quality Index,Logistics Performance Index,GDP per Capita (current US$),GDP per Capita Growth (%),Access to Electricity (%),Poultry Consumption (kg/capita),Chicken Meat Production (kg),Import Quantity (kg),Export Quantity (kg)
0,Afghanistan,AFG,40578842.0,1.435704,2.576854,10800465.0,-2.544956,-1.271806,1.9,357.261153,-7.576669,85.3,0.881790,2.850314e+07,6902310.0,5.604000e+04
1,Angola,AGO,35635029.0,3.143026,4.059358,24260684.0,-0.630109,-0.606699,2.1,2929.694455,-0.143628,48.5,10.506409,5.717738e+07,308122710.0,1.087000e+04
2,United Arab Emirates,ARE,10074977.0,5.088342,5.367449,8819937.0,0.744183,1.034781,4.0,49899.065298,2.176083,100.0,50.929320,4.700000e+07,615447940.0,9.400743e+07
3,Argentina,ARG,45407904.0,0.210809,0.338668,41932837.0,-0.098594,-0.697566,2.8,13935.681111,5.048195,100.0,48.298690,2.319469e+09,10218320.0,1.796218e+08
4,Armenia,ARM,2969200.0,0.232656,0.456271,1887610.0,-0.740756,-0.019079,2.5,6571.974455,12.338334,100.0,17.806946,1.410000e+07,37595230.0,1.928000e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,Uruguay,URY,3390913.0,-0.170369,-0.081484,3244697.0,1.085830,0.713579,3.0,20818.614609,4.664391,100.0,23.882421,7.972700e+07,5325130.0,1.075050e+06
101,United States,USA,334017321.0,0.575745,0.830027,277514951.0,0.008701,1.424440,3.8,77860.911291,1.923862,100.0,53.031433,1.984124e+10,80798320.0,3.745962e+09
102,Uzbekistan,UZB,34938955.0,2.009991,2.087298,17632293.0,-0.201336,-0.550315,2.6,2578.666894,3.891995,100.0,6.323154,1.488000e+08,50737420.0,3.457300e+05
103,Viet Nam,VNM,99680655.0,0.750757,2.609752,38642203.0,-0.046132,-0.429956,3.3,4147.697772,7.725699,100.0,14.725962,1.363790e+09,267072320.0,2.649000e+06
104,South Africa,ZAF,62378410.0,1.413972,2.130662,42626286.0,-0.681386,-0.185126,3.7,6523.410978,0.480620,86.5,37.993930,1.951000e+09,290742620.0,4.582128e+07

In [50]:
df_all.to_csv('data/combined_data.csv', index=False)